In [47]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from math import radians, cos, sin, asin, sqrt
from matplotlib.font_manager import FontProperties
%matplotlib inline

# Tratamiento del tiempo
import time
from datetime import datetime, date

# Lectura de ficheros

In [48]:
df_train = pd.read_csv('fraudTrain.csv')

In [49]:
df_train.head(5)

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,0,2019-01-01 00:00:18,2703186189652095,"fraud_Rippin, Kub and Mann",misc_net,4.970000,Jennifer,Banks,F,561 Perry Cove,...,36.078800,-81.178100,3495,"Psychologist, counselling",1988-03-09,0b242abb623afc578575680df30655b9,1325376018,36.011293,-82.048315,0
1,1,2019-01-01 00:00:44,630423337322,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.230000,Stephanie,Gill,F,43039 Riley Greens Suite 393,...,48.887800,-118.210500,149,Special educational needs teacher,1978-06-21,1f76529f8574734946361c461b024d99,1325376044,49.159047,-118.186462,0
2,2,2019-01-01 00:00:51,38859492057661,fraud_Lind-Buckridge,entertainment,220.110000,Edward,Sanchez,M,594 White Dale Suite 530,...,42.180800,-112.262000,4154,Nature conservation officer,1962-01-19,a1a22d70485983eac12b5b88dad1cf95,1325376051,43.150704,-112.154481,0
3,3,2019-01-01 00:01:16,3534093764340240,"fraud_Kutch, Hermiston and Farrell",gas_transport,45.000000,Jeremy,White,M,9443 Cynthia Court Apt. 038,...,46.230600,-112.113800,1939,Patent attorney,1967-01-12,6b849c168bdad6f867558c3793159a81,1325376076,47.034331,-112.561071,0
4,4,2019-01-01 00:03:06,375534208663984,fraud_Keeling-Crist,misc_pos,41.960000,Tyler,Garcia,M,408 Bradley Rest,...,38.420700,-79.462900,99,Dance movement psychotherapist,1986-03-28,a41d7549acf90789359a9aa5346dcb46,1325376186,38.674999,-78.632459,0

In [50]:
print(df_train.shape)

(1296675, 23)

In [51]:
df_test = pd.read_csv('fraudTest.csv')

In [52]:
df_test.head(5)

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,0,2020-06-21 12:14:25,2291163933867244,fraud_Kirlin and Sons,personal_care,2.860000,Jeff,Elliott,M,351 Darlene Green,...,33.965900,-80.935500,333497,Mechanical engineer,1968-03-19,2da90c7d74bd46a0caf3777415b3ebd3,1371816865,33.986391,-81.200714,0
1,1,2020-06-21 12:14:33,3573030041201292,fraud_Sporer-Keebler,personal_care,29.840000,Joanne,Williams,F,3638 Marsh Union,...,40.320700,-110.436000,302,"Sales professional, IT",1990-01-17,324cc204407e99f51b0d6ca0055005e7,1371816873,39.450498,-109.960431,0
2,2,2020-06-21 12:14:53,3598215285024754,"fraud_Swaniawski, Nitzsche and Welch",health_fitness,41.280000,Ashley,Lopez,F,9333 Valentine Point,...,40.672900,-73.536500,34496,"Librarian, public",1970-10-21,c81755dbbbea9d5c77f094348a7579be,1371816893,40.495810,-74.196111,0
3,3,2020-06-21 12:15:15,3591919803438423,fraud_Haley Group,misc_pos,60.050000,Brian,Williams,M,32941 Krystal Mill Apt. 552,...,28.569700,-80.819100,54767,Set designer,1987-07-25,2159175b9efe66dc301f149d3d5abf8c,1371816915,28.812398,-80.883061,0
4,4,2020-06-21 12:15:17,3526826139003047,fraud_Johnston-Casper,travel,3.190000,Nathan,Massey,M,5783 Evan Roads Apt. 465,...,44.252900,-85.017000,1126,Furniture designer,1955-07-06,57ff021bd3f328f8738bb535c302a31b,1371816917,44.959148,-85.884734,0

In [53]:
print(df_test.shape)

(555719, 23)

# Crear fichero completo a partir de train y test

Creamos **df_total** concatenando los datasets **train** y **test** para hacer el **EDA** sobre los datos completos:

In [54]:
df_total = pd.concat([df_train, df_test], axis=0)

In [55]:
print(df_total.shape)

(1852394, 23)

# Eliminar filas duplicadas

In [56]:
df_total.drop_duplicates()

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,0,2019-01-01 00:00:18,2703186189652095,"fraud_Rippin, Kub and Mann",misc_net,4.970000,Jennifer,Banks,F,561 Perry Cove,...,36.078800,-81.178100,3495,"Psychologist, counselling",1988-03-09,0b242abb623afc578575680df30655b9,1325376018,36.011293,-82.048315,0
1,1,2019-01-01 00:00:44,630423337322,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.230000,Stephanie,Gill,F,43039 Riley Greens Suite 393,...,48.887800,-118.210500,149,Special educational needs teacher,1978-06-21,1f76529f8574734946361c461b024d99,1325376044,49.159047,-118.186462,0
2,2,2019-01-01 00:00:51,38859492057661,fraud_Lind-Buckridge,entertainment,220.110000,Edward,Sanchez,M,594 White Dale Suite 530,...,42.180800,-112.262000,4154,Nature conservation officer,1962-01-19,a1a22d70485983eac12b5b88dad1cf95,1325376051,43.150704,-112.154481,0
3,3,2019-01-01 00:01:16,3534093764340240,"fraud_Kutch, Hermiston and Farrell",gas_transport,45.000000,Jeremy,White,M,9443 Cynthia Court Apt. 038,...,46.230600,-112.113800,1939,Patent attorney,1967-01-12,6b849c168bdad6f867558c3793159a81,1325376076,47.034331,-112.561071,0
4,4,2019-01-01 00:03:06,375534208663984,fraud_Keeling-Crist,misc_pos,41.960000,Tyler,Garcia,M,408 Bradley Rest,...,38.420700,-79.462900,99,Dance movement psychotherapist,1986-03-28,a41d7549acf90789359a9aa5346dcb46,1325376186,38.674999,-78.632459,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
555714,555714,2020-12-31 23:59:07,30560609640617,fraud_Reilly and Sons,health_fitness,43.770000,Michael,Olson,M,558 Michael Estates,...,40.493100,-91.891200,519,Town planner,1966-02-13,9b1f753c79894c9f4b71f04581835ada,1388534347,39.946837,-91.333331,0
555715,555715,2020-12-31 23:59:09,3556613125071656,fraud_Hoppe-Parisian,kids_pets,111.840000,Jose,Vasquez,M,572 Davis Mountains,...,29.039300,-95.440100,28739,Futures trader,1999-12-27,2090647dac2c89a1d86c514c427f5b91,1388534349,29.661049,-96.186633,0
555716,555716,2020-12-31 23:59:15,6011724471098086,fraud_Rau-Robel,kids_pets,86.880000,Ann,Lawson,F,144 Evans Islands Apt. 683,...,46.196600,-118.901700,3684,Musician,1981-11-29,6c5b7c8add471975aa0fec023b2e8408,1388534355,46.658340,-119.715054,0
555717,555717,2020-12-31 23:59:24,4079773899158,fraud_Breitenberg LLC,travel,7.990000,Eric,Preston,M,7020 Doyle Stream Apt. 951,...,44.625500,-116.449300,129,Cartographer,1965-12-15,14392d723bb7737606b2700ac791b7aa,1388534364,44.470525,-117.080888,0
555718,555718,2020-12-31 23:59:34,4170689372027579,fraud_Dare-Marvin,entertainment,38.130000,Samuel,Frey,M,830 Myers Plaza Apt. 384,...,35.666500,-97.479800,116001,Media buyer,1993-05-10,1765bb45b3aa3224b4cdcb6e7a96cee3,1388534374,36.210097,-97.036372,0

In [57]:
print(df_total.shape)

(1852394, 23)

Son las mismas filas que antes, lo que significa que no había filas duplicadas

# Valores nulos y tipos de datos

Buscamos **nulos**:

In [58]:
df_total.isnull().sum()

Unnamed: 0               0
trans_date_trans_time    0
cc_num                   0
merchant                 0
category                 0
amt                      0
first                    0
last                     0
gender                   0
street                   0
city                     0
state                    0
zip                      0
lat                      0
long                     0
city_pop                 0
job                      0
dob                      0
trans_num                0
unix_time                0
merch_lat                0
merch_long               0
is_fraud                 0
dtype: int64

No hay nulos.  
  
Obtenemos los **tipos de dato** del dataset:

In [59]:
df_total.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1852394 entries, 0 to 555718
Data columns (total 23 columns):
 #   Column                 Dtype
---  ------                 -----
 0   Unnamed: 0             int64
 1   trans_date_trans_time  object
 2   cc_num                 int64
 3   merchant               object
 4   category               object
 5   amt                    float64
 6   first                  object
 7   last                   object
 8   gender                 object
 9   street                 object
 10  city                   object
 11  state                  object
 12  zip                    int64
 13  lat                    float64
 14  long                   float64
 15  city_pop               int64
 16  job                    object
 17  dob                    object
 18  trans_num              object
 19  unix_time              int64
 20  merch_lat              float64
 21  merch_long             float64
 22  is_fraud               int64
dtypes: float64(5), int64(6), object(12)
memory usage: 339.2+ MB

Eliminamos la columna **Unnamed**:

# Información estadística básica

In [60]:
# Configurar opciones de visualización para que el formato sea flotante y no exponencial
pd.set_option('display.float_format', '{:.6f}'.format)

df_total.describe()

,Unnamed: 0,cc_num,amt,zip,lat,long,city_pop,unix_time,merch_lat,merch_long,is_fraud
count,1852394.000000,1852394.000000,1852394.000000,1852394.000000,1852394.000000,1852394.000000,1852394.000000,1852394.000000,1852394.000000,1852394.000000,1852394.000000
mean,537193.440000,417386038393710400.000000,70.063567,48813.258191,38.539311,-90.227832,88643.674509,1358674218.834364,38.538976,-90.227940,0.005210
std,366910.960483,1309115265318020352.000000,159.253975,26881.845966,5.071470,13.747895,301487.618344,18195081.387560,5.105604,13.759692,0.071992
min,0.000000,60416207185.000000,1.000000,1257.000000,20.027100,-165.672300,23.000000,1325376018.000000,19.027422,-166.671575,0.000000
25%,231549.000000,180042946491150.000000,9.640000,26237.000000,34.668900,-96.798000,741.000000,1343016823.750000,34.740122,-96.899440,0.000000
50%,463098.000000,3521417320836166.000000,47.450000,48174.000000,39.354300,-87.476900,2443.000000,1357089331.000000,39.368900,-87.440694,0.000000
75%,833575.750000,4642255475285942.000000,83.100000,72042.000000,41.940400,-80.158000,20328.000000,1374581485.250000,41.956263,-80.245108,0.000000
max,1296674.000000,4992346398065154048.000000,28948.900000,99921.000000,66.693300,-67.950300,2906700.000000,1388534374.000000,67.510267,-66.950902,1.000000

# Crear columna categórica 'Population_group' dividiendo en tramos 'city_pop'

In [61]:
df_total['city_pop'].value_counts()

606        8049
1595797    7312
1312922    7297
241        6578
1766       6556
           ...
198659        7
242803        7
1888          7
99475         7
1071          6
Name: city_pop, Length: 891, dtype: int64

In [62]:
print('Población mínima : ', df_total['city_pop'].min(), ' habitantes')

Población mínima :  23  habitantes

In [63]:
print('Población máxima : ', df_total['city_pop'].max(), ' habitantes')

Población máxima :  2906700  habitantes

Dados estos valores mínimo y máximo, creamos intervalos de 0 a 3M de habitantes con incrementos de 500K:

In [64]:
df_total['Population_group'] = pd.cut(df_total["city_pop"], bins=list(range(0,3000001,500000)),
                                      labels = ["<500K","[500K-1M)","[1M-1,5M)","[1,5M-2M)",
                                                "[2M-2,5M)","[2,5M-3M]"])
df_total['Population_group'].value_counts()

<500K        1758657
[500K-1M)      46877
[1M-1,5M)      21224
[1,5M-2M)      16105
[2,5M-3M]       8794
[2M-2,5M)        737
Name: Population_group, dtype: int64

# Conversión de fechas desde tipo object a datetime

In [65]:
df_total['trans_date_trans_time'] = pd.to_datetime(df_total['trans_date_trans_time'])

In [66]:
df_total['trans_date_trans_time'].head(5)

0   2019-01-01 00:00:18
1   2019-01-01 00:00:44
2   2019-01-01 00:00:51
3   2019-01-01 00:01:16
4   2019-01-01 00:03:06
Name: trans_date_trans_time, dtype: datetime64[ns]

In [67]:
df_total['dob'] = pd.to_datetime(df_total['dob'])

In [68]:
df_total['dob'].head(5)

0   1988-03-09
1   1978-06-21
2   1962-01-19
3   1967-01-12
4   1986-03-28
Name: dob, dtype: datetime64[ns]

# Separar fecha y hora de las transacciones en varias columnas

Creamos columnas con el mes, el año y el día de la semana para poder analizar estas variables:

In [69]:
df_total['hour'] = df_total['trans_date_trans_time'].dt.hour

In [70]:
df_total['hour'].value_counts()

23    95902
22    95370
16    94289
18    94052
21    93738
17    93514
13    93492
15    93439
19    93433
12    93294
14    93089
20    93081
1     61330
3     60968
2     60796
0     60655
8     60498
6     60406
10    60320
7     60301
9     60231
11    60170
5     60088
4     59938
Name: hour, dtype: int64

In [71]:
df_total['dayofweek'] = df_total['trans_date_trans_time'].dt.dayofweek

In [72]:
df_total['dayofweek'].value_counts()

0    369418
6    343677
1    270340
5    263227
4    215078
3    206741
2    183913
Name: dayofweek, dtype: int64

In [73]:
df_total['month'] = df_total['trans_date_trans_time'].dt.month

In [74]:
df_total['month'].value_counts()

12    280598
8     176118
6     173869
7     172444
5     146875
3     143789
11    143056
9     140185
10    138106
4     134970
1     104727
2      97657
Name: month, dtype: int64

In [75]:
df_total['year'] = df_total['trans_date_trans_time'].dt.year

In [76]:
df_total['year'].value_counts()

2020    927544
2019    924850
Name: year, dtype: int64

# Crear columna 'age' a partir de 'dob'

In [77]:
def calculate_age(born_date):
    ''' Función que convierte la fecha de nacimiento en edad por diferencia con la fecha actual '''
    
    # Fecha actual
    today = date.today()
    
    return today.year - born_date.year - ((today.month, today.day) < (born_date.month, born_date.day))

In [78]:
df_total['age'] = df_total['dob'].apply(calculate_age)

In [79]:
df_total['age'].value_counts().sort_values(ascending=False)

51    68695
36    59237
38    58429
47    51189
39    48949
      ...
91     2965
80     2227
21     1472
99      735
98       11
Name: age, Length: 82, dtype: int64

# Crear columna 'age_group' a partir de 'age'

In [80]:
df_total['age'].min()

18

In [81]:
df_total['age'].max()

99

En vista de estos valores, hacemos la siguiente divison en tramos:

In [82]:
df_total['age_group'] = pd.cut(df_total['age'], bins=[0,20,30,40,50,60,70,80,9999],
                               labels = ['<20', '[20-30)', '[30-40)', '[40-50)', 
                                         '[50-60)', '[60-70)', '[70-80)', '>=80'])

In [83]:
df_total['age_group'].value_counts()

[30-40)    425514
[40-50)    385227
[50-60)    328089
[60-70)    230087
[20-30)    221121
>=80       123228
[70-80)    119406
<20         19722
Name: age_group, dtype: int64

# Crear columna con distancia en km. entre cliente y comerciante

Para convertir la diferencia de coordenadas en distancia en km. se utiliza la **fórmula de Haversine**:

In [84]:
def haversine(lat1, lon1, lat2, lon2): 
    '''Calcula la distancia en km. entre dos puntos expresados en coordenadas'''
    
    R = 6372.8 # Radio de la Tierra en km.

    # Diferencia de coordenadas en radianes
    dLat = np.radians(lat2 - lat1)
    dLon = np.radians(lon2 - lon1)
    
    # Conversión de la diferencia a radianes
    lat1 = np.radians(lat1)
    lat2 = np.radians(lat2)

    # Cálculo de la fórmula de Haversine
    a = np.sin(dLat/2)**2 + np.cos(lat1) * np.cos(lat2) *np.sin(dLon/2)**2
    c = 2 * np.arcsin(np.sqrt(a))
    
    return R * c

In [85]:
# Aplicamos la función a las columnas de df_total

df_total['distance_km'] = df_total.apply(lambda row: haversine(row['lat'], row['long'], row['merch_lat'], row['merch_long']), 
                                         axis=1)

In [86]:
df_total['distance_km'].head(5)

0    78.619775
1    30.220712
2   108.236654
3    95.700262
4    77.578656
Name: distance_km, dtype: float64

# Crear columna 'dist_km_group' con la distancia en km. dividida en tramos

Obtenemos los estadísticos básicos de la nueva columna:

In [87]:
# Configurar opciones de visualización para que el formato sea flotante y no exponencial
pd.set_option('display.float_format', '{:.6f}'.format)

df_total['distance_km'].describe()

count   1852394.000000
mean         76.133230
std          29.125197
min           0.022261
25%          55.335717
50%          78.238478
75%          98.537299
max         152.160151
Name: distance_km, dtype: float64

En vista de estos valores, dividimos **distance_km** en los siguientes tramos:

In [88]:
df_total['dist_km_group'] = pd.cut(df_total['distance_km'], bins=[0,25,50,75,100,125,150,9999],
                            labels = ['<25 km', '[25-50 km)', '[50-75 km)', '[75-100 km)', 
                                      '[100-125 km)', '[125-150 km)','>=150 km'])

# Formato final de df_total

In [89]:
df_total.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1852394 entries, 0 to 555718
Data columns (total 32 columns):
 #   Column                 Dtype
---  ------                 -----
 0   Unnamed: 0             int64
 1   trans_date_trans_time  datetime64[ns]
 2   cc_num                 int64
 3   merchant               object
 4   category               object
 5   amt                    float64
 6   first                  object
 7   last                   object
 8   gender                 object
 9   street                 object
 10  city                   object
 11  state                  object
 12  zip                    int64
 13  lat                    float64
 14  long                   float64
 15  city_pop               int64
 16  job                    object
 17  dob                    datetime64[ns]
 18  trans_num              object
 19  unix_time              int64
 20  merch_lat              float64
 21  merch_long             float64
 22  is_fraud               int64
 23  Population_group       category
 24  hour                   int64
 25  dayofweek              int64
 26  month                  int64
 27  year                   int64
 28  age                    int64
 29  age_group              category
 30  distance_km            float64
 31  dist_km_group          category
dtypes: category(3), datetime64[ns](2), float64(6), int64(11), object(10)
memory usage: 429.3+ MB

# Grabación de csv con el formato final de df_total para poder disponer de él en otros notebooks

In [90]:
df_total.to_csv('fraudTotal.csv', encoding='utf-8', index=False)